footer {
    width: 100%;
    background-color: #3b912e;
    height: 150px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.links {
    display: flex;
    flex-direction: row;
    gap: 50px;
    a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
}
.media {
    display: flex;
    flex-direction: row;
    gap: 30px;
    img {
        width: 30px;
    }
}