// Breakpoints
$break-desktop : 900px;


//Fonts
$font-text :'Crimson Text', serif;
$font-main :'Josefin Sans', sans-serif;
$font-name :'Playfair Display', serif;
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Josefin+Sans:wght@300;400&family=Playfair+Display:wght@400;700&display=swap');

//Colors
// RED-------------------------------------
$BlackRaspberry: rgb(92, 0, 0);
$Chestnut: rgb(117, 23, 23);
$CrimsonRed: rgb(186, 12, 12);
$PoppyRed: rgb(255, 0, 0);
$FrenchGrey: rgb(255, 235, 235);
// GREEN-------------------------
$GreyGreenLight: rgb(238, 253, 238);
$OliveGreen: rgb(39, 163, 0);
$DarkGreen: rgb(42, 133, 14);
$KelpGreen: rgb(45, 102, 27);
$DarkKelpGreen: rgb(0, 92, 0);

//Spacings
$space-m: 1rem;
$space-m: 1.5rem;

$grid-gap:0.8rem;

//Effect
$small-shadow : 0px 4px 4px rgba(0, 0, 0, 0.25);
