/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Josefin+Sans:wght@300;400&family=Playfair+Display:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

footer {
  width: 100%;
  height: 150px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
footer img {
  width: 50px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.links a {
  text-decoration: none;
  color: rgb(186, 12, 12);
  font-size: 20px;
}

.media {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.media img {
  width: 30px;
}

body {
  background-color: rgb(255, 235, 235);
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pizza-card {
  background-color: rgb(238, 253, 238);
  border-radius: 8px;
  margin: 10px;
  width: 300px;
  height: 450px;
  transition: transform 0.3s ease-in-out;
}
.pizza-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.pizza-card__name {
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  margin: 20px 20px;
}
.pizza-card__veganOrNot {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin: 20px 20px;
  color: #6B8E23;
}
.pizza-card__photo {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.pizza-card__ingredients {
  margin: 20px 20px;
  font-family: "Josefin Sans", sans-serif;
}
.pizza-card__add-to-cart {
  font-family: "Josefin Sans", sans-serif;
  background-color: rgb(45, 102, 27);
  color: #fff;
  padding: 10px 15px;
  margin: 20px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.pizza-card__add-to-cart:hover {
  background-color: rgb(42, 133, 14);
}
.pizza-card__price {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 90px;
}

@media (max-width: 768px) {
  .pizza-card {
    width: 100%;
    margin: 20px 0;
  }
}
header {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imglogo {
  width: 100%;
  height: 100%;
  margin-left: 20%;
}

.logopizza {
  width: 15%;
  height: 100%;
}

.title {
  font-family: "Paytone One, Sans-Serif";
  width: 60%;
  height: 100%;
  font-size: 250%;
  text-align: center;
}

h1 {
  font-family: "Paytone One", sans-serif;
  color: rgb(0, 92, 0);
  font-size: 100px;
  margin-top: 3%;
  margin-left: 10%;
  letter-spacing: 10px;
  text-shadow: 2px 2px 4px rgb(117, 23, 23);
}

.logomenu {
  width: 21%;
  margin: auto;
}

.imgmenu {
  width: 60%;
  height: 50%;
  display: flex;
  margin: auto;
}

.menuderoulant {
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  display: inline-block;
}
.menuderoulant ul {
  display: none;
}
.menuderoulant:hover ul {
  display: block;
}

.listemenu {
  position: relative;
  list-style: none;
  padding: 5%;
  margin: 0;
  background-color: rgb(238, 253, 238);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.listemenu li {
  padding: 10px;
  text-align: right;
}

.menuderoulant a {
  font-family: "Crimson Text", serif;
  font-size: x-large;
  text-decoration: none;
  color: rgb(92, 0, 0);
}

ul {
  width: 60%;
  height: 90px;
  border-radius: 20px;
}

.dark-mode {
  background-color: rgb(92, 0, 0);
  color: white;
}

.dark-mode-header {
  background-color: rgb(92, 0, 0);
}
.dark-mode-header h1 {
  text-shadow: 2px 2px 4px rgb(238, 253, 238);
}

.dark-mode-card {
  background-color: rgb(0, 92, 0);
}

.dark-mode-foot {
  background-color: rgb(92, 0, 0);
}
.dark-mode-foot a {
  color: rgb(255, 235, 235);
}

.switch {
  position: relative;
  display: inline-block;
  width: 68px;
  height: 38px;
  margin: 3px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 8px;
  bottom: 7px;
  background-color: white;
  border-radius: 50%;
}

input:checked + .slider:before {
  background-color: white;
  transform: translateX(24px);
}/*# sourceMappingURL=main.css.map */