.switch {
  position: relative;
  display: inline-block;
  width: 68px;
  height: 38px;
  margin: 3px;
}

// cacher la checkbox
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

// apparence du bouton 
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  border-radius: 34px;
  
}

// mode claire
.slider:before {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  left: 8px;
  bottom: 7px;
  background-color: white;
  border-radius: 50%;
}

// glisser en darkmode 
input:checked + .slider:before {
  background-color: white;
  transform: translateX(24px);
}
