.dark-mode {
    background-color: $BlackRaspberry;
    color: white;
}

.dark-mode-header {
    background-color: $BlackRaspberry;
    h1 {
        text-shadow: 2px 2px 4px $GreyGreenLight;
    }
}

.dark-mode-card {
    background-color: $DarkKelpGreen;
}

.dark-mode-foot {
    background-color: $BlackRaspberry;
    a {
        color: $FrenchGrey;
    }
}